# === APP ===
APP_TITLE=Система бронирования мест в кафе
APP_DESCRIPTION=Сервис для бронирования мест в кафе
LOG_LEVEL=INFO
CORS_ORIGINS=["http://localhost:3000"]

# === Initial admin bootstrap ===
INITIAL_ADMIN_USERNAME=
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=

# === JWT ===
# Generate with: openssl rand -hex 32
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3600

# === Database ===
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=5432

# === Flower ===
FLOWER_USER=
FLOWER_PASSWORD=
